src/main/java/Kon/Data/XmlSchemas/metacriticGameRatings.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="metacritic_videogame_ratings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="game_name" type="xs:string" />
                <xs:element name="platform" type="xs:string" />
                <xs:element name="release_date" type="xs:int" />
                <xs:element name="score" type="xs:decimal" />
                <xs:element name="user_score" type="xs:decimal" />
                <xs:element name="developer" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>