src/main/java/Kon/Data/XmlSchemas/videoGameSalesWithRatings.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="video_game_sales_with_ratings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="game_name" type="xs:string" />
                <xs:element name="platform" type="xs:string" />
                <xs:element name="year_of_release" type="xs:int" />
                <xs:element name="company_name" type="xs:string" />
                <xs:element name="global_sales" type="xs:decimal" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>